---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=<YOUTUBE_TOKEN>&maxResults=50&part=snippet&q=surfing
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"E0ODjPk5ylwae1OSmrNN4U767V0\",\n
        \ \"nextPageToken\": \"CDIQAA\",\n  \"regionCode\": \"MY\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 50\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"U21Po-KMvdNZ7xiYZgqhPjinEps\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"ma67yOdMQfs\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2021-01-23T17:00:15Z\",\n        \"channelId\": \"UC--3c8RqSfAqYBdDjIG3UNA\",\n
        \       \"title\": \"These Were The All-Time Surfing Moments Of The Year |
        Best Of 2020\",\n        \"description\": \"Well, that was a weird ride. Though
        it hasn't been easy, at least when we fixed our gaze on the ocean — or favorite
        place in the world – very little had changed.\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/ma67yOdMQfs/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/ma67yOdMQfs/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/ma67yOdMQfs/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Red Bull Surfing\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2021-01-23T17:00:15Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"Z3PqCalSZIMftv6OBCPgsV51KoQ\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"kwM59hyYmGI\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2021-12-02T19:55:18Z\",\n        \"channelId\": \"UC--3c8RqSfAqYBdDjIG3UNA\",\n
        \       \"title\": \"Scoring Pipeline on a Soft Top with Jamie O&#39;Brien
       [...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=ma67yOdMQfs&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "44z6iQ1FUe_7RNKbeeUvcslKuC8",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=kwM59hyYmGI&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "w1yZGDwVTGwms2IK3AQ0txru9wc",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=K3n5FNTN48Q&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "nMqpFLffjbaOYVSBd-6JQ9AHJe0",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=YY8qpAIrcmA&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "sNG9vdwuG_ehxnwvEDcCvYcwOAI",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=60rMb2f6M9o&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"V38Lsc82dA3Ao0lP1g07R2p5j24\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"pgPx13hEUHwWJfnTom9Qwghs0o0\",\n      \"id\": \"60rMb2f6M9o\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2021-11-29T08:26:54Z\",\n        \"channelId\":
        \"UCVo06dBGK9VBBhq15wJxZHQ\",\n        \"title\": \"\U0001F534 (ASMR) 24/7
        Waves of the World/Surfing - WITH RELAXING OCEAN SOUNDS AND MUSIC\",\n        \"description\":
        \"Official Waves of the World live stream! Fall asleep or just relax with
        ocean sounds, beautiful waves, colorful sunsets, and some of the best surfing
        on the planet!\\nTahiti, Maldives, Indonesia, Hawaii, Maui, Oahu, Mexico\\nLease
        this music here: https://gumroad.com/l/XMuGp\\nSTORE LOOP PLAYLIST: https://tinyurl.com/yxo9hz9o\\nEPIC
        PLAYLIST: https://tinyurl.com/y4owubln\\n\U0001F534 (ASMR) 24/7 Waves of the
        World/Surfing - WITH RELAXING OCEAN SOUNDS AND MUSIC\\nIndonesia is the largest
        country in Southeast Asia, with a maximum dimension from east to west of about
        3,200 miles (5,100 km) and an extent from north to south of 1,100 miles (1,800
        km). It shares a border with Malaysia in the northern part of Borneo and with
        Papua New Guinea in the centre of New Guinea.\\n\\nTeahupo'o is a reef break.
        The swells mainly break left, but the outer reef also creates right breaks
        that surfers must be cautious of when paddling out. Teahupo'o is renowned
        for the consistent number of barrels it delivers. It is a rewarding location
        and is widely regarded as being on the 'must-surf' list of every enthusiastic
        surfer. However, only experienced surfers in peak physical condition should
        attempt Teahupo'o; heavy waves combined with a shallow shoreline can result
        in serious injuries and even death in a wipeout.\\n\\nTeahupoʻo (Polynesian
        pronunciation: [/te.ahupoʔo ])[1] is a village on the southwestern coast of
        the island of Tahiti, French Polynesia, in the southern Pacific Ocean.\\n\\n1.
        From East to west, Hawaii is the widest state in the USA.\\n\\n2. There are
        only 12 letters in the Hawaiian alphabet. A,E,I,O and U are Vowels.H,K,L,M,N,P
        and W are Consonants\\n\\n3. Hawaii has its own time zone, The Hawaiian Stand
        Time. Hawaii does not have daylight savings time. Hawaii is just 2 hours behind
      [...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=ar1TkD5Cz_o&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "6-In6fD8Et_T3ZYaXVU3l-oV5f4",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=Smgql_DESn8&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "dXMYLwpkGYFm2ufV80ZupndLB9s",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=TazPV4oenKg&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "Yb5Hu_D1UUgRC04qJ68zM1z9kuk",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=rj7xMBxd5iY&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "VKrp7x6aGhsejEnxFIWzqSq7p4k",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=67QNw2xQlsk&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YxjmPPtVNh7pTDRjym5XEqUB3Bo",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=RHY05iCOxU0&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "npl1e01HYc-dZ8y2vHEgXWkmIcw",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=q_-I0ajSFaA&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "-7ccOR1BTm0bnfjzLIyi68yPDMc",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=QsiPK_B4cVI&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "n0p0CM5C1JWc7o0O0OYsASEUSts",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=oKVbbd1Sb6w&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "tm9YTrxhiI8u-j7d3MMIg1Yt6M8",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=W7h-Yho8EB0&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "Sq6PWeThcVaT2vWJH-k9qCKqlk8",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=GJc4Ir78KdE&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"IUBIOjxplGoz_jQmKBDmb5LxBuk\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"X_Jgw3ALTNVkd6oob9h7PG4Ac5Q\",\n      \"id\": \"GJc4Ir78KdE\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2020-11-04T17:00:10Z\",\n        \"channelId\":
        \"UCTl3QQTvqHFjurroKxexy2Q\",\n        \"title\": \"Are these the largest
        Waves ever surfed? | Nazare 2020: The Beast Awakens\",\n        \"description\":
        \"When the hurricane Epsilon swell arrived in Nazare, Portugal last week,
        18-year-old professional surfer and local António Laureano was ready. Join
        António, along with an international crew of big wave surfing's elite, as
        they face the 'Swell of Century' in Nazare 2020: The Beast Awakens.\\n\\nSubscribe
        to the official Olympic channel here & hit the bell! \U0001F514\\r\\nhttp://oly.ch/Subscribe\\r\\n\\r\\nVisit
        the official Olympics website for everything you need to know about the Games:
        http://oly.ch/Olympics\",\n        \"thumbnails\": {\n          \"default\":
        {\n            \"url\": \"https://i.ytimg.com/vi/GJc4Ir78KdE/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/GJc4Ir78KdE/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/GJc4Ir78KdE/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/GJc4Ir78KdE/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/GJc4Ir78KdE/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Olympics\",\n        \"tags\": [\n          \"Olympic
        Games\",\n          \"Olympic Channel\",\n          \"Olympic Medal\",\n          \"Olympics\",\n
        \         \"IOC\",\n          \"Sport\",\n          \"Champion\",\n          \"ركوب
        الأمواج\",\n          \"冲浪\",\n          \"Surfen\",\n          \"Surf\",\n
        \         \"サーフィン\",\n          \"서핑\",\n          \"Surfe\",\n          \"Сёрфинг\",\n
        \         \"nazare big waves 2020\",\n          \"big waves in the ocean\",\n
        \         \"big waves surfing\",\n          \"António Laureano\",\n          \"sebastian
        steudtner nazare 2020\",\n          \"kai lenny nazare\",\n          \"pedro
        scooby nazaré\",\n          \"lucas chumbo nazare 2020\",\n          \"lucas
        chumbo\",\n          \"antonio laureano nazare\",\n          \"nazare big
        waves\"\n        ],\n        \"categoryId\": \"17\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"defaultLanguage\": \"en\",\n        \"localized\": {\n
        \         \"title\": \"Are these the largest Waves ever surfed? | Nazare 2020:
        The Beast Awakens\",\n          \"description\": \"When the hurricane Epsilon
        swell arrived in Nazare, Portugal last week, 18-year-old professional surfer
        and local António Laureano was ready. Join António, along with an international
        crew of big wave surfing's elite, as they face the 'Swell of Century' in Nazare
        2020: The Beast Awakens.\\n\\nSubscribe to the official Olympic channel here
        & hit the bell! \U0001F514\\r\\nhttp://oly.ch/Subscribe\\r\\n\\r\\nVisit the
        official Olympics website for everything you need to know about the Games:
        http://oly.ch/Olympics\"\n        },\n        \"defaultAudioLanguage\": \"en-GB\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
  recorded_at: Fri, 03 Dec 2021 19:51:13 GMT
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=QIzI8pnTiK0&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YiqGRsdXk4Z7nR-_DPfBBAGjgEk",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=LUdqckbhzwY&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "QiLHbJckq9rucX27GThKU5IWXHQ",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=Uzubx0lGBmI&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"FXW8TPlYR-WfSEc7YhNr9uxRMXY\",\n
        \ \"items\": [\n    {\n  [...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=ncGzbStsPRQ&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "QHZlFSiD1saNcpsZmhMVGhG3VC8",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=ZnYmbXkV8ag&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "kpylOvLE2BZnNpyoEBEjd-I6wSE",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=6GUtd7f1_Xo&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "hvtkK6VOziBSUcxi6YzSJaxegxM",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=kL8fnWxm9BU&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "rWO7tGOiGODdgmJMMZ6zfkmILfc",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=Aa4DNTcWz8U&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "ozcn1koPc06LdaIQhvt3AqP-ip0",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=E5CUf45S4fU&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "HyUy6-VbUSAEnTxs2S76H9dUEpk",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=zd4EIXDjEJ4&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "W765pJIRKiX29F3cn_qE1LzfS2s",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=-hiGfcidPmM&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "3rMyjpUGDbKX4SoFxJnDmC2EMP8",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=J_JIymuA6Q4&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "Bxs5I0eqX1UdE9NVfpELX2zNMl8",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=pmlzdeZuAk8&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "DE8osw8wiAeey5DKZLEyh8hRNnQ",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=veigzwAHFKA&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "suvJwUPH3p4dHNaNTvdgL5uOOdU",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=WPmo5aPWuUw&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"xY2oeynwsOk9TLY2UYR2n4Bn4Ak\",\n
        \ \"items\": [\n    {\n  [...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=1zK4lBtMEeU&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "buKfJoNaVJY2kRW6-Xw5yGAN_CY",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=VlyuPoA_8LA&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "phKieloAu_u1jMP84gsHvBy5JAI",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=2rLr6xIMRVE&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"tYVAo6V_7EdluwPapDNcLyq47n4\",\n
        \ \"items\": [\n    {\n  [...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=Sa3KXgwkiO0&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "O2SaNLuBaBmDewSB47zCPWmjXiM",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=CWYDxh7QD34&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "K6baHOEiwmEx4YEaPoNQ-BTz-Sw",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=Oe1cVkmmrYc&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "l66lDuj9jGvIhdZQO6GbOppKdbQ",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=qH6gmC1Mgxc&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "_rWh9E91NUkLEUgj8IehpUtkBbY",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=bcPfm0Ttkr0&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "Fy3VKs3jCGFsygSVTMxL3GXtIrI",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=bZi_KIgZGpY&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "MWaZwX3bDi7k6yBnOyJJkRX8uqk",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=xp3TJdlSdQI&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "W-3hbVxQJ1AkoO2Z-e0stBLMQhU",
          "items": [[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=aWEg2YBEvLA&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
[...]
